{% extends 'base.html' %}

{% block content %}
<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Hi, I'm Nick!</h1>
            <p class="lead text-muted">I really enjoy making Django websites. It's fun and the possibilities are limitless!</p>
            <p>
                <a href="mailto:Nicholastuttle@outlook.com" class="btn btn-primary my-2">Email Me</a>
            </p>
            <img src="{% static 'IMG_2907[600].png' %}">
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">

                {% for balloon in jobs.all %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="{{ balloon.image.url }}">
                        <div class="card-body">
                            <p class="card-text">{{ balloon.summary }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</main>
{% endblock %}





